/* Responsive */
@media (max-width: 600px) {
header h1 {
font-size: 1.8rem;
}

```
#inputCiudad {
    width: 100%;
}

.resultado .temperatura {
    font-size: 2.5rem;
}

.banner {
    max-width: 100%;
}
```

}

/* MODO CLARO */
body.claro {
background: #f2f6fc;
color: #222222;
}

body.claro header,
body.claro main,
body.claro footer {
color: #222222;
}

body.claro .buscador,
body.claro .resultado,
body.claro .seccion-historial {
background-color: #ffffff;
color: #222222;
}

body.claro input {
background-color: #ffffff;
color: #222222;
}
